* {
  margin: 0;
  padding: 0;
}

/*sass inicio*/
/*bucle*/
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6666666667rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

.boton-facebook {
  background-color: #3a5795;
  color: black;
}

.boton-instagram {
  background-color: #833AB4;
  color: black;
}

/* tipografia y textos */
@font-face {
  font-family: "Lato-Regular";
  src: url("./fuentes/Lato-Regular.ttf");
}
.cursiva {
  font-style: italic;
}

body {
  font-family: "Lato-Regular", sans-serif;
  height: 100vh;
  background-color: #ffe3e3;
  font-size: 2rem;
}

.center {
  text-align: center;
}

.sinSubrayar {
  text-decoration: none;
}

/* GRID */
.gridArea {
  display: grid;
  grid-template-areas: "header header" "menu menu" "gif texto" "imagenesInicio imagenesInicio" "pie pie";
  grid-template-columns: 30% auto;
  grid-template-rows: 2fr 1fr 4fr 4fr 2fr;
}

.gridImagenes {
  display: grid;
  grid-template-areas: "header header" "menu menu" "video video" "fotos fotos" "pie pie";
  grid-template-columns: 1fr 2fr;
}

/* nombre areas */
header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

#gif {
  grid-area: gif;
}

#textoInicio {
  grid-area: texto;
}

#imagenesInicio {
  grid-area: imagenesInicio;
}

footer {
  grid-area: pie;
}

#video {
  grid-area: video;
}

#fotosGaleria {
  grid-area: fotos;
}

/*clases*/
.tituloPrincipal {
  background-color: #dbbadb;
  color: slateblue;
}

.titulosImagenes {
  background-color: #b3a4a4;
  color: darkorchid;
}

.imagenes, .imagenes-galeria {
  border-radius: 3mp;
  border: solid 5px #dbbadb;
}

.imagenes-galeria {
  border: #f7a8c5;
}

.menuFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*por etiquetas*/
ul {
  background-color: #f7a8c5;
  list-style-type: none;
}
ul li {
  background-color: #fad0bb;
  color: black;
  padding: 10px;
  text-align: center;
  align-items: center;
}
ul li:hover {
  background-color: #ffe3e3;
}

footer {
  background-color: #dbbadb;
  padding: 20px;
}

article {
  background-color: #ffe3e3;
}

p {
  background-color: #ffe3e3;
  flex-direction: row;
}

/* Responsive*/
/* tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    height: 100vh;
    font-size: 1.3rem;
  }

  .center {
    text-align: center;
  }

  .sinSubrayar {
    text-decoration: none;
  }

  /* GRID */
  .gridArea {
    display: grid;
    grid-template-areas: "header header" "menu menu" "gif gif" "texto texto" "imagenesInicio imagenesInicio" "pie pie";
    grid-template-columns: 50%;
    grid-template-rows: 2fr 1fr 4fr 4fr 4fr 2fr;
  }

  .gridImagenes {
    display: grid;
    grid-template-areas: "header header" "menu menu" "video video" "fotos fotos" "pie pie";
    grid-template-columns: 50%;
  }

  /*clases*/
  .tituloPrincipal {
    background-color: #dbbadb;
    color: slateblue;
  }

  .titulosImagenes {
    background-color: #b3a4a4;
    color: darkorchid;
  }

  .imagenes, .imagenes-galeria {
    border-radius: 3mp;
    border: solid 5px #dbbadb;
  }

  .menuFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ninja {
    display: none;
  }

  /*por etiquetas*/
  ul {
    background-color: #f7a8c5;
    list-style-type: none;
  }
  ul li {
    background-color: #fad0bb;
    color: black;
    padding: 10px;
    text-align: center;
    align-items: center;
  }
  ul li:hover {
    background-color: #ffe3e3;
  }

  footer {
    background-color: #dbbadb;
    padding: 20px;
  }

  article {
    background-color: #ffe3e3;
  }

  p {
    background-color: #ffe3e3;
  }
}
/* celular */
@media (max-width: 480) {
  body {
    height: 100vh;
    font-size: 0.4rem;
  }

  .center {
    text-align: center;
  }

  .sinSubrayar {
    text-decoration: none;
  }

  /* GRID */
  .gridArea {
    display: grid;
    grid-template-areas: "header" "menu" "gif" "texto" "imagenesInicio" "pie";
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 4fr 4fr 4fr 2fr;
  }

  .gridImagenes {
    display: grid;
    grid-template-areas: "header" "menu" "video" "fotos" "pie";
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 4fr 4fr 2fr;
  }

  /*clases*/
  .tituloPrincipal {
    background-color: #dbbadb;
    color: slateblue;
  }

  .titulosImagenes {
    background-color: #b3a4a4;
    color: darkorchid;
  }

  .imagenes, .imagenes-galeria {
    border-radius: 3mm;
    border: solid 1px #dbbadb;
  }

  .menuFlex {
    align-items: center;
  }

  /*por etiquetas*/
  ul {
    background-color: #f7a8c5;
    list-style-type: none;
  }
  ul li {
    background-color: #fad0bb;
    color: black;
    text-align: center;
    align-items: center;
  }
  ul li:hover {
    background-color: #ffe3e3;
  }

  footer {
    background-color: #dbbadb;
  }

  article {
    background-color: #ffe3e3;
  }

  p {
    background-color: #ffe3e3;
  }
}

/*# sourceMappingURL=destino.css.map */
